.fortable
{
border:3px solid;
width:70%;
text-align: center;


}

td
{
border:3px solid gray;



}
.fortd
{
border:3px solid gray;
background-color: gray;

}
.fortr
{
    background-color:lightgreen;
}